body{
    background-color: #03091c;
}

.header{
    margin-top: 15px;
    
}

.Header{
    position: relative;
    top: 0;
    left: 0;
}

.signin{
    position: absolute;
    top: 10px;
    left: 1600px;

    
}

.search{
    position: absolute;
    text-align: center;
    left: 1400px;
    top: 40px;
    width: 150px;
    height: 30px;
    border-radius: 15px;
}

.signup{
    position: absolute;
    text-align: center;
    left: 1750px;
    top: 10px;

}